
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */