.custom-scrollbar {
	&::-webkit-scrollbar {
		width: 12px;
		background: transparent;
	}
	&::-webkit-scrollbar-track {
	}
	&::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
		border-radius: 5px;
		background-color: $primary;
		background-image: linear-gradient(
			45deg,
			rgba(#fff, 0.2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(#fff, 0.2) 50%,
			rgba(#fff, 0.2) 75%,
			transparent 75%,
			transparent
		);
		background-clip: padding-box;
	}
}
.vertical-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}