@mixin pseudo($display: block, $position: absolute, $content: "") {
	content: $content;
	display: $display;
	position: $position;
}

@mixin pseudo-line() {
    position: relative;
	&:before {
		@include pseudo();
		height: 1px;
		background: $flexee-layout-border-color;
		left: 10px;
        right: 10px;
        @content;
	}
}